* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  overflow-x: hidden;
}

#main {
  min-height: 100%;
  width: 100%;
  background-color: #dadada;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 30% 52% 18%;
}

#left-top-left {
  padding: 3vw;
}
#left-top-left #square {
  height: 2vw;
  width: 2vw;
  background-color: #000;
  rotate: 50deg;
}

#nav {
  display: none;
  cursor: pointer;
}

#left-top-right {
  align-content: center;
  justify-self: right;
  text-align: right;
  padding: 2vw;
}

#left-top-right i {
  display: none;
  cursor: pointer;
}

#left-top-right h4 {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 3vh;
}

#left-top-right h5 {
  font-size: 1vw;
  color: #333;
  margin-bottom: 1vh;
}

#left-center {
  grid-column: 1/3;
  padding: 1vw;
}

#left-center h1 {
  font-size: 5vw;
  text-transform: uppercase;
}

#left-center h1:nth-child(2n) {
  text-align: center;
}

#left-btm {
  padding: 2vw;
  grid-column: 1/3;
}

#left-btm p {
  width: 75%;
}
#right {
  position: relative;
  padding: 2vw;
  padding-right: 3vw;
  grid-row: 1/4;
  grid-column: 3;
}

#right video {
  position: absolute;
  border-radius: 1.5vw;
  height: 90%;
  width: 80%;
  object-fit: cover;
}

#arrow {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  background-color: #dadada;
  padding: 1.5vw;
  color: #222;
  border: 2px solid #222;
  border-radius: 50%;
}

#arrow i {
  font-size: 1.8vw;
}

@media (max-width: 600px) {
  #main {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 25% 15% 50%;
  }

  #nav {
    display: initial;
    position: absolute;
    top: -100%;
    width: 100%;
    height: 50%;
    color: #dadada;
    padding: 5vw;
    background-color: #222;
    z-index: 99;
    transition: all ease-in 1s;
  }

  #nav h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 4vh;
  }

  #nav i {
    position: absolute;
    top: 6%;
    right: 3%;
    font-size: 35px;
  }

  #nav h5 {
    font-size: 20px;
    margin-bottom: 1.5vh;
  }

  #left-top-left {
    padding: 5vw;
  }
  #left-top-left #square {
    height: 20px;
    width: 20px;
    background-color: #000;
    rotate: 45deg;
  }

  #left-top-right i {
    display: initial;
    font-size: 25px;
    z-index: 99;
  }

  #left-top-right h4 {
    display: none;
  }

  #left-top-right h5 {
    display: none;
  }

  #left-center h1 {
    padding-left: 3vw;
    font-size: 8.5vw;
  }

  #left-btm p {
    padding-left: 2vw;
    width: 90%;
  }

  #right {
    position: relative;
    padding: 2vw;
    grid-row: 4;
    grid-column: 1/3;
  }

  #right video {
    position: absolute;
    border-radius: 1.5vw;
    height: 95%;
    width: 95%;
    object-fit: cover;
  }

  #arrow {
    position: absolute;
    top: 75%;
    left: 40%;
    rotate: 90deg;
    transform: translate(-50%, -50%);
    background-color: #dadada;
    padding: 1.5vw;
    color: #222;
    border-radius: 50%;
  }

  #arrow i {
    font-size: 22px;
  }
}
